/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

 /* TYPOGRAPHY */

@font-face {
  font-family: Escafina;
  src: url(fonts/Escafina-High.otf);
}

@font-face {
  font-family: Noah;
  src: url(fonts/Noah-Regular.otf);
}

@font-face {
  font-family: Noah-Italic;
  src: url(fonts/Noah-Regular-Italic.otf);
}

html {
  font-family: 'Noah', Merriweather, Arial, Sans-Serif;
  color: #131313;
   }

 h1 {
font-family: 'Escafina-High', Merriweather, Impact, Serif;
font-size: 7rem;
text-align: center;
margin: 1rem 2rem 1rem 2rem;
 }

 h3 {
  font-family: 'Noah', Merriweather, Arial, Sans-Serif;
  font-size: 2rem;
  text-align: center;
   }

   p {
    font-family: 'Noah', Merriweather, Arial, Sans-Serif;
    font-size: 1rem;
     }

 a {
  font-family: 'Noah', Merriweather, Arial, Sans-Serif;
  font-size: 2rem;
  text-decoration: none;
  color: #131313;
 }

 a:hover {
  font-family: 'Noah-Italic', Merriweather, Arial, Sans-Serif;
  text-decoration: underline;
 }

 .grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 3rem;
   padding: 3rem 0 3rem 0;
 }

 .gradient-container {
text-align: right;
   height: 29rem;
   width: 20rem;
   margin: auto;
 }

 .grid a {
   font-size: 0.9rem;
  color: #7a7a7a;
   }

   .grid a:hover {
   font-family: 'Noah-Italic', Merriweather, Arial, Sans-Serif;
   text-decoration: underline;
    }

   /* GRADIENTS */

.sunrise-gradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(167, 198, 255, 1), rgba(103, 156, 255, 0.8));
}

.sunrise-gradient-red {
  height: 80%;
  width: 85%;
  margin-left: 10%;
  background-image: linear-gradient(
      to left,
      rgba(216, 16, 26, 0.9),
      yellow 30%
    );
    z-index: 3;
}

.sunrise-gradient-orange {
  background-image: linear-gradient(from top, rgba(275,255,255,0), rgba(5,245,255, 1) 90%);
  z-index: 5;
}

.slippery-gradient {
  height: 100%;
  width: 100%;
  background-color: pink;
}

.prince-gradient {
  height: 100%;
  width: 100%;
  background-color: purple;
}